{% extends 'layout.html' %}

{% block content %}
<div class="forgot-password-container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <h2 class="forgot-password-title">Forgot Password</h2>

        <div class="form-group">
            <label for="{{ form.email.id }}" class="control-label">Email</label>
            {{ form.email(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.recaptcha() }}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-primary send-link-button", label="Send Link Verification to Email") }}
        </div>
    </form>

    <div class="back-to-login">
        <a href="{{ url_for('login') }}" class="back-to-login-link">Back to Login</a>
    </div>
</div>

<!-- /// ubah css /// -->
<style>
.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.forgot-password-title {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.control-label {
    font-weight: bold;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-size: 14px;
    background-color: #fafafa;
}

.send-link-button {
    background-color: #0095f6;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

.send-link-button:hover {
    background-color: #0080e4;
}

.back-to-login-link {
    font-size: 14px;
    color: #0080e4;
    text-decoration: none;
}

.back-to-login-link:hover {
    text-decoration: underline;
}
</style>
{% endblock content %}